<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_cL2hYAlFEemuyee1ySwmkw" specification="import: &quot;Logger.hpp&quot;&#xA;import: &quot;CleaningRobot.hpp&quot;&#xA;import: &quot;IRotatable.h&quot;&#xA;import: &quot;ControlUnit.hpp&quot;&#xA;&#xA;interface:&#xA;  in event userEvent : Command&#xA;&#xA;internal:&#xA;  var logger : Logger&#xA;  var controlUnit : ControlUnit  &#xA;  var robotCtrl : CleaningRobot&#xA;" name="robot_statechart" domainID="com.yakindu.domain.c">
    <regions xmi:id="_cL4WmQlFEemuyee1ySwmkw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_cL49pglFEemuyee1ySwmkw">
        <outgoingTransitions xmi:id="_is9BcAlGEemuyee1ySwmkw" specification="" target="_d3MzcAlGEemuyee1ySwmkw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_d3MzcAlGEemuyee1ySwmkw" name="not_driving" incomingTransitions="_is9BcAlGEemuyee1ySwmkw _8eIxcAlPEemuyee1ySwmkw">
        <outgoingTransitions xmi:id="_uqe0UAlPEemuyee1ySwmkw" specification="[controlUnit.getCommand ==&#xD;&#xA;&#x9;Command.Forwards]" target="_oEcDgAlGEemuyee1ySwmkw"/>
        <regions xmi:id="_d3PPsAlGEemuyee1ySwmkw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_jMA8AAlGEemuyee1ySwmkw" specification="entry /&#xD;&#xA;logger.log(&quot;Stopped State Entered&quot;)&#xD;&#xA;" name="stopped" incomingTransitions="_kdGJYAlGEemuyee1ySwmkw _1VWf8AlGEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_0848oAlGEemuyee1ySwmkw" specification="[controlUnit.getCommand == Command.Rotate]" target="_jc5QoAlGEemuyee1ySwmkw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_jc5QoAlGEemuyee1ySwmkw" specification="entry /&#xD;&#xA;logger.log(&quot;Rotating State Entered&quot;)&#xD;&#xA;" name="rotating" incomingTransitions="_0848oAlGEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_1VWf8AlGEemuyee1ySwmkw" specification="[controlUnit.getCommand == Command.Stop]" target="_jMA8AAlGEemuyee1ySwmkw"/>
            <outgoingTransitions xmi:id="_yGmV4AlPEemuyee1ySwmkw" specification="[controlUnit.getCommand == &#xD;&#xA;&#x9;Command.Forwards]" target="_obOy4AlGEemuyee1ySwmkw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_kBLpcAlGEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_kdGJYAlGEemuyee1ySwmkw" specification="" target="_jMA8AAlGEemuyee1ySwmkw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_gnDr8AlGEemuyee1ySwmkw" name="driving">
        <outgoingTransitions xmi:id="_8eIxcAlPEemuyee1ySwmkw" specification="[controlUnit.getCommand ==&#xD;&#xA;&#x9;Command.Stop ||&#xD;&#xA;&#x9;controlUnit.getCommand ==&#xD;&#xA;&#x9;Command.Rotate ]" target="_d3MzcAlGEemuyee1ySwmkw"/>
        <regions xmi:id="_gnDr8wlGEemuyee1ySwmkw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_oEcDgAlGEemuyee1ySwmkw" specification="entry /&#xD;&#xA;logger.log(&quot;Driving Forwards State Entered&quot;)&#xD;&#xA;" name="driving_forwads" incomingTransitions="_0flVkAlGEemuyee1ySwmkw _uqe0UAlPEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_0MfacAlGEemuyee1ySwmkw" specification="[controlUnit.getCommand == Command.Backwards]" target="_obOy4AlGEemuyee1ySwmkw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_obOy4AlGEemuyee1ySwmkw" specification="entry /&#xD;&#xA;logger.log(&quot;Driving Backwards State Entered&quot;)" name="driving_backwards" incomingTransitions="_0MfacAlGEemuyee1ySwmkw _yGmV4AlPEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_0flVkAlGEemuyee1ySwmkw" specification="[controlUnit.getCommand == Command.Forwards]" target="_oEcDgAlGEemuyee1ySwmkw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_cL4WlglFEemuyee1ySwmkw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_cL2hYAlFEemuyee1ySwmkw" measurementUnit="Pixel">
    <children xmi:id="_cL4WmglFEemuyee1ySwmkw" type="Region" element="_cL4WmQlFEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_cL49oAlFEemuyee1ySwmkw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cL49oQlFEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cL49oglFEemuyee1ySwmkw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_cL49owlFEemuyee1ySwmkw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_cL5ksAlFEemuyee1ySwmkw" type="Entry" element="_cL49pglFEemuyee1ySwmkw">
          <children xmi:id="_cL5ktAlFEemuyee1ySwmkw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_cL5ktwlFEemuyee1ySwmkw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_cL5kuAlFEemuyee1ySwmkw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_cL5kuQlFEemuyee1ySwmkw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cL5ktQlFEemuyee1ySwmkw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL5ktglFEemuyee1ySwmkw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cL5ksQlFEemuyee1ySwmkw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_cL5ksglFEemuyee1ySwmkw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL5kuglFEemuyee1ySwmkw" x="75" y="22" width="15" height="15"/>
        </children>
        <children xmi:id="_d3Qd0AlGEemuyee1ySwmkw" type="State" element="_d3MzcAlGEemuyee1ySwmkw">
          <children xsi:type="notation:DecorationNode" xmi:id="_d3Qd1AlGEemuyee1ySwmkw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_d3Qd1QlGEemuyee1ySwmkw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_d3RE4AlGEemuyee1ySwmkw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d3RE4QlGEemuyee1ySwmkw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_d3RE4glGEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d3RE4wlGEemuyee1ySwmkw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d3RE5AlGEemuyee1ySwmkw" type="StateFigureCompartment">
            <children xmi:id="_AB5iMAlHEemuyee1ySwmkw" type="Region" element="_d3PPsAlGEemuyee1ySwmkw">
              <children xsi:type="notation:DecorationNode" xmi:id="_AB5iMQlHEemuyee1ySwmkw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iMglHEemuyee1ySwmkw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_AB5iMwlHEemuyee1ySwmkw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_AB5iNAlHEemuyee1ySwmkw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_AB5iNQlHEemuyee1ySwmkw" type="State" element="_jMA8AAlGEemuyee1ySwmkw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_AB5iNglHEemuyee1ySwmkw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iNwlHEemuyee1ySwmkw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_AB5iOAlHEemuyee1ySwmkw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AB5iOQlHEemuyee1ySwmkw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_AB5iOglHEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iOwlHEemuyee1ySwmkw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AB5iPAlHEemuyee1ySwmkw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iPQlHEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_AB5iPglHEemuyee1ySwmkw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AB5iPwlHEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iQAlHEemuyee1ySwmkw" x="7" y="31"/>
                </children>
                <children xmi:id="_AB5iQQlHEemuyee1ySwmkw" type="State" element="_jc5QoAlGEemuyee1ySwmkw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_AB5iQglHEemuyee1ySwmkw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iQwlHEemuyee1ySwmkw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_AB5iRAlHEemuyee1ySwmkw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AB5iRQlHEemuyee1ySwmkw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_AB5iRglHEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iRwlHEemuyee1ySwmkw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AB5iSAlHEemuyee1ySwmkw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iSQlHEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_AB5iSglHEemuyee1ySwmkw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AB5iSwlHEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iTAlHEemuyee1ySwmkw" x="607" y="27" width="246" height="84"/>
                </children>
                <children xmi:id="_AB5iTQlHEemuyee1ySwmkw" type="Entry" element="_kBLpcAlGEemuyee1ySwmkw">
                  <children xmi:id="_AB5iTglHEemuyee1ySwmkw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_AB5iTwlHEemuyee1ySwmkw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iUAlHEemuyee1ySwmkw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_AB5iUQlHEemuyee1ySwmkw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iUglHEemuyee1ySwmkw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iUwlHEemuyee1ySwmkw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iVAlHEemuyee1ySwmkw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_AB5iVQlHEemuyee1ySwmkw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iVglHEemuyee1ySwmkw" x="21" y="-16"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iVwlHEemuyee1ySwmkw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iWAlHEemuyee1ySwmkw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iWQlHEemuyee1ySwmkw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_d3Qd0QlGEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_d3Qd0glGEemuyee1ySwmkw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_d3RE5QlGEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d3Qd0wlGEemuyee1ySwmkw" x="57" y="94" width="895" height="229"/>
        </children>
        <children xmi:id="_gnETAAlGEemuyee1ySwmkw" type="State" element="_gnDr8AlGEemuyee1ySwmkw">
          <children xsi:type="notation:DecorationNode" xmi:id="_gnETBAlGEemuyee1ySwmkw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_gnETBQlGEemuyee1ySwmkw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_gnETBglGEemuyee1ySwmkw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gnE6EAlGEemuyee1ySwmkw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_gnE6EQlGEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gnE6EglGEemuyee1ySwmkw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gnE6EwlGEemuyee1ySwmkw" type="StateFigureCompartment">
            <children xmi:id="_hy6E8AlPEemuyee1ySwmkw" type="Region" element="_gnDr8wlGEemuyee1ySwmkw">
              <children xsi:type="notation:DecorationNode" xmi:id="_hy6E8QlPEemuyee1ySwmkw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_hy6E8glPEemuyee1ySwmkw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_hy6E8wlPEemuyee1ySwmkw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_hy6E9AlPEemuyee1ySwmkw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_hy6E9QlPEemuyee1ySwmkw" type="State" element="_oEcDgAlGEemuyee1ySwmkw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hy6E9glPEemuyee1ySwmkw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hy6E9wlPEemuyee1ySwmkw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hy6E-AlPEemuyee1ySwmkw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hy6E-QlPEemuyee1ySwmkw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hy6E-glPEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hy6E-wlPEemuyee1ySwmkw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hy6E_AlPEemuyee1ySwmkw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hy6E_QlPEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hy6E_glPEemuyee1ySwmkw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hy6E_wlPEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hy6FAAlPEemuyee1ySwmkw" x="14"/>
                </children>
                <children xmi:id="_hy6FAQlPEemuyee1ySwmkw" type="State" element="_obOy4AlGEemuyee1ySwmkw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hy6FAglPEemuyee1ySwmkw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hy6FAwlPEemuyee1ySwmkw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hy6FBAlPEemuyee1ySwmkw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hy6FBQlPEemuyee1ySwmkw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hy6FBglPEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hy6FBwlPEemuyee1ySwmkw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hy6FCAlPEemuyee1ySwmkw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hy6FCQlPEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hy6FCglPEemuyee1ySwmkw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hy6FCwlPEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hy6FDAlPEemuyee1ySwmkw" x="580"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hy6FDQlPEemuyee1ySwmkw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_hy6FDglPEemuyee1ySwmkw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hy6FDwlPEemuyee1ySwmkw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_gnETAQlGEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_gnETAglGEemuyee1ySwmkw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gnE6FAlGEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gnETAwlGEemuyee1ySwmkw" x="84" y="437" width="838" height="174"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL49pAlFEemuyee1ySwmkw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_cL4WmwlFEemuyee1ySwmkw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL49pQlFEemuyee1ySwmkw" x="220" y="10" width="988" height="664"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_cL8oAAlFEemuyee1ySwmkw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_cL9PEAlFEemuyee1ySwmkw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cL9PEQlFEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cL9PEglFEemuyee1ySwmkw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_cL9PEwlFEemuyee1ySwmkw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL9PFAlFEemuyee1ySwmkw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL9PFQlFEemuyee1ySwmkw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cL4WlwlFEemuyee1ySwmkw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_cL4WmAlFEemuyee1ySwmkw"/>
    <edges xmi:id="_is9ogAlGEemuyee1ySwmkw" type="Transition" element="_is9BcAlGEemuyee1ySwmkw" source="_cL5ksAlFEemuyee1ySwmkw" target="_d3Qd0AlGEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_is-PkQlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_is-PkglGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_is-PkwlGEemuyee1ySwmkw"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_is9ogQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_is-PkAlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_is9ogglGEemuyee1ySwmkw" points="[7, 0, -116, -116]$[7, 67, -116, -49]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_36UA8AlPEemuyee1ySwmkw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_itAEwAlGEemuyee1ySwmkw" id="(0.16125568911191504,0.21951219512195122)"/>
    </edges>
    <edges xmi:id="_kdHXgAlGEemuyee1ySwmkw" type="Transition" element="_kdGJYAlGEemuyee1ySwmkw" source="_AB5iTQlHEemuyee1ySwmkw" target="_AB5iNQlHEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_kdHXhAlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kdHXhQlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kdHXhglGEemuyee1ySwmkw" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kdHXgQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kdHXgwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kdHXgglGEemuyee1ySwmkw" points="[0, 7, -6, -48]$[0, 46, -6, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kdKa0AlGEemuyee1ySwmkw" id="(0.30666666666666664,0.1886792452830189)"/>
    </edges>
    <edges xmi:id="_0Mk6AAlGEemuyee1ySwmkw" type="Transition" element="_0MfacAlGEemuyee1ySwmkw" source="_hy6E9QlPEemuyee1ySwmkw" target="_hy6FAQlPEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_0Mk6BAlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0Mk6BQlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0Mk6BglGEemuyee1ySwmkw" x="-6" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0Mk6AQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0Mk6AwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0Mk6AglGEemuyee1ySwmkw" points="[15, 4, -131, 2]$[147, -14, 1, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0MmvMAlGEemuyee1ySwmkw" id="(0.8828125,0.39622641509433965)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0MmvMQlGEemuyee1ySwmkw" id="(0.13013698630136986,0.33962264150943394)"/>
    </edges>
    <edges xmi:id="_0fnKwAlGEemuyee1ySwmkw" type="Transition" element="_0flVkAlGEemuyee1ySwmkw" source="_hy6FAQlPEemuyee1ySwmkw" target="_hy6E9QlPEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_0fnx0AlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0fnx0QlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0fnx0glGEemuyee1ySwmkw" x="4" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0fnKwQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0fnKwwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0fnKwglGEemuyee1ySwmkw" points="[-19, 21, 284, 6]$[-279, 21, 24, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0fo_8AlGEemuyee1ySwmkw" id="(0.06164383561643835,0.6226415094339622)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0fo_8QlGEemuyee1ySwmkw" id="(0.921875,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_086KwAlGEemuyee1ySwmkw" type="Transition" element="_0848oAlGEemuyee1ySwmkw" source="_AB5iNQlHEemuyee1ySwmkw" target="_AB5iQQlHEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_086KxAlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_086KxQlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_086KxglGEemuyee1ySwmkw" x="1" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_086KwQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_086KwwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_086KwglGEemuyee1ySwmkw" points="[127, -19, -400, 2]$[474, -19, -53, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2fh0EAlGEemuyee1ySwmkw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_087Y4AlGEemuyee1ySwmkw" id="(0.2237157384138858,0.24074516360162407)"/>
    </edges>
    <edges xmi:id="_1VXuEAlGEemuyee1ySwmkw" type="Transition" element="_1VWf8AlGEemuyee1ySwmkw" source="_AB5iQQlHEemuyee1ySwmkw" target="_AB5iNQlHEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1VXuFAlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1VXuFQlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1VXuFglGEemuyee1ySwmkw" x="-1" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1VXuEQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1VXuEwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1VXuEglGEemuyee1ySwmkw" points="[-33, 33, 429, -8]$[-380, 33, 82, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-l5eQAlGEemuyee1ySwmkw" id="(0.13692946058091288,0.3037974683544304)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1VY8MAlGEemuyee1ySwmkw" id="(0.676056338028169,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_uqiesAlPEemuyee1ySwmkw" type="Transition" element="_uqe0UAlPEemuyee1ySwmkw" source="_d3Qd0AlGEemuyee1ySwmkw" target="_hy6E9QlPEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_uqietAlPEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uqietQlPEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uqietglPEemuyee1ySwmkw" x="12" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_uqiesQlPEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uqieswlPEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_uqiesglPEemuyee1ySwmkw" points="[42, 6, -9, -222]$[42, 192, -9, -36]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_uqjs0AlPEemuyee1ySwmkw" id="(0.17988826815642459,0.9737991266375546)"/>
    </edges>
    <edges xmi:id="_yGm88AlPEemuyee1ySwmkw" type="Transition" element="_yGmV4AlPEemuyee1ySwmkw" source="_AB5iQQlHEemuyee1ySwmkw" target="_hy6FAQlPEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_yGm89AlPEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yGm89QlPEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yGnkAAlPEemuyee1ySwmkw" x="-3" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yGm88QlPEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yGm88wlPEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yGm88glPEemuyee1ySwmkw" points="[0, 18, 3, -230]$[0, 239, 3, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yGoyIAlPEemuyee1ySwmkw" id="(0.44308943089430897,0.7738095238095238)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yGoyIQlPEemuyee1ySwmkw" id="(0.49074074074074076,0.12987012987012986)"/>
    </edges>
    <edges xmi:id="_8eJ_kAlPEemuyee1ySwmkw" type="Transition" element="_8eIxcAlPEemuyee1ySwmkw" source="_gnETAAlGEemuyee1ySwmkw" target="_d3Qd0AlGEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_8eJ_lAlPEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8eJ_lQlPEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8eJ_lglPEemuyee1ySwmkw" x="-6" y="6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8eJ_kQlPEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8eJ_kwlPEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8eJ_kglPEemuyee1ySwmkw" points="[25, 74, 11, 212]$[77, 74, 63, 212]$[77, -242, 63, -104]$[55, -242, 41, -104]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8eL0wAlPEemuyee1ySwmkw" id="(0.9701670644391408,0.08045977011494253)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8eL0wQlPEemuyee1ySwmkw" id="(0.9541899441340782,0.9737991266375546)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
