<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_cL2hYAlFEemuyee1ySwmkw" specification="import: &quot;Logger.hpp&quot;&#xA;import: &quot;CleaningRobot.hpp&quot;&#xA;import: &quot;IRotatable.h&quot;&#xA;import: &quot;ControlUnit.hpp&quot;&#xA;&#xA;interface:&#xA;  in event userEvent : Command&#xA;&#xA;internal:&#xA;  var logger : Logger&#xA;  var robotCtrl : CleaningRobot&#xA;  var controlUnit : ControlUnit  &#xA;  &#xA;" name="robot_statechart" domainID="com.yakindu.domain.c">
    <regions xmi:id="_cL4WmQlFEemuyee1ySwmkw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_cL49pglFEemuyee1ySwmkw">
        <outgoingTransitions xmi:id="_is9BcAlGEemuyee1ySwmkw" specification="" target="_d3MzcAlGEemuyee1ySwmkw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_d3MzcAlGEemuyee1ySwmkw" name="not_driving" incomingTransitions="_is9BcAlGEemuyee1ySwmkw">
        <regions xmi:id="_d3PPsAlGEemuyee1ySwmkw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_jMA8AAlGEemuyee1ySwmkw" specification="entry /&#xD;&#xA;logger.log(&quot;Stopped State Entered&quot;)&#xD;&#xA;robotCtrl.stop" name="stopped" incomingTransitions="_kdGJYAlGEemuyee1ySwmkw _1VWf8AlGEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_0848oAlGEemuyee1ySwmkw" specification="" target="_jc5QoAlGEemuyee1ySwmkw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_jc5QoAlGEemuyee1ySwmkw" specification="" name="rotating" incomingTransitions="_0848oAlGEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_1VWf8AlGEemuyee1ySwmkw" specification="" target="_jMA8AAlGEemuyee1ySwmkw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_kBLpcAlGEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_kdGJYAlGEemuyee1ySwmkw" specification="" target="_jMA8AAlGEemuyee1ySwmkw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_gnDr8AlGEemuyee1ySwmkw" name="driving">
        <regions xmi:id="_gnDr8wlGEemuyee1ySwmkw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_oEcDgAlGEemuyee1ySwmkw" name="driving_forwads" incomingTransitions="_0flVkAlGEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_0MfacAlGEemuyee1ySwmkw" specification="" target="_obOy4AlGEemuyee1ySwmkw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_obOy4AlGEemuyee1ySwmkw" name="driving_backwards" incomingTransitions="_0MfacAlGEemuyee1ySwmkw">
            <outgoingTransitions xmi:id="_0flVkAlGEemuyee1ySwmkw" specification="" target="_oEcDgAlGEemuyee1ySwmkw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_cL4WlglFEemuyee1ySwmkw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_cL2hYAlFEemuyee1ySwmkw" measurementUnit="Pixel">
    <children xmi:id="_cL4WmglFEemuyee1ySwmkw" type="Region" element="_cL4WmQlFEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_cL49oAlFEemuyee1ySwmkw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cL49oQlFEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cL49oglFEemuyee1ySwmkw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_cL49owlFEemuyee1ySwmkw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_cL5ksAlFEemuyee1ySwmkw" type="Entry" element="_cL49pglFEemuyee1ySwmkw">
          <children xmi:id="_cL5ktAlFEemuyee1ySwmkw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_cL5ktwlFEemuyee1ySwmkw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_cL5kuAlFEemuyee1ySwmkw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_cL5kuQlFEemuyee1ySwmkw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cL5ktQlFEemuyee1ySwmkw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL5ktglFEemuyee1ySwmkw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cL5ksQlFEemuyee1ySwmkw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_cL5ksglFEemuyee1ySwmkw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL5kuglFEemuyee1ySwmkw" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_d3Qd0AlGEemuyee1ySwmkw" type="State" element="_d3MzcAlGEemuyee1ySwmkw">
          <children xsi:type="notation:DecorationNode" xmi:id="_d3Qd1AlGEemuyee1ySwmkw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_d3Qd1QlGEemuyee1ySwmkw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_d3RE4AlGEemuyee1ySwmkw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d3RE4QlGEemuyee1ySwmkw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_d3RE4glGEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d3RE4wlGEemuyee1ySwmkw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d3RE5AlGEemuyee1ySwmkw" type="StateFigureCompartment">
            <children xmi:id="_AB5iMAlHEemuyee1ySwmkw" type="Region" element="_d3PPsAlGEemuyee1ySwmkw">
              <children xsi:type="notation:DecorationNode" xmi:id="_AB5iMQlHEemuyee1ySwmkw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iMglHEemuyee1ySwmkw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_AB5iMwlHEemuyee1ySwmkw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_AB5iNAlHEemuyee1ySwmkw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_AB5iNQlHEemuyee1ySwmkw" type="State" element="_jMA8AAlGEemuyee1ySwmkw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_AB5iNglHEemuyee1ySwmkw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iNwlHEemuyee1ySwmkw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_AB5iOAlHEemuyee1ySwmkw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AB5iOQlHEemuyee1ySwmkw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_AB5iOglHEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iOwlHEemuyee1ySwmkw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AB5iPAlHEemuyee1ySwmkw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iPQlHEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_AB5iPglHEemuyee1ySwmkw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AB5iPwlHEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iQAlHEemuyee1ySwmkw" x="7" y="31"/>
                </children>
                <children xmi:id="_AB5iQQlHEemuyee1ySwmkw" type="State" element="_jc5QoAlGEemuyee1ySwmkw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_AB5iQglHEemuyee1ySwmkw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iQwlHEemuyee1ySwmkw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_AB5iRAlHEemuyee1ySwmkw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AB5iRQlHEemuyee1ySwmkw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_AB5iRglHEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iRwlHEemuyee1ySwmkw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_AB5iSAlHEemuyee1ySwmkw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iSQlHEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_AB5iSglHEemuyee1ySwmkw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AB5iSwlHEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iTAlHEemuyee1ySwmkw" x="403" y="31" width="73" height="84"/>
                </children>
                <children xmi:id="_AB5iTQlHEemuyee1ySwmkw" type="Entry" element="_kBLpcAlGEemuyee1ySwmkw">
                  <children xmi:id="_AB5iTglHEemuyee1ySwmkw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_AB5iTwlHEemuyee1ySwmkw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iUAlHEemuyee1ySwmkw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_AB5iUQlHEemuyee1ySwmkw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iUglHEemuyee1ySwmkw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iUwlHEemuyee1ySwmkw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iVAlHEemuyee1ySwmkw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_AB5iVQlHEemuyee1ySwmkw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iVglHEemuyee1ySwmkw" x="21" y="-16"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iVwlHEemuyee1ySwmkw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_AB5iWAlHEemuyee1ySwmkw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AB5iWQlHEemuyee1ySwmkw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_d3Qd0QlGEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_d3Qd0glGEemuyee1ySwmkw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_d3RE5QlGEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d3Qd0wlGEemuyee1ySwmkw" x="57" y="94" width="518" height="229"/>
        </children>
        <children xmi:id="_gnETAAlGEemuyee1ySwmkw" type="State" element="_gnDr8AlGEemuyee1ySwmkw">
          <children xsi:type="notation:DecorationNode" xmi:id="_gnETBAlGEemuyee1ySwmkw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_gnETBQlGEemuyee1ySwmkw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_gnETBglGEemuyee1ySwmkw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gnE6EAlGEemuyee1ySwmkw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_gnE6EQlGEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gnE6EglGEemuyee1ySwmkw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gnE6EwlGEemuyee1ySwmkw" type="StateFigureCompartment">
            <children xmi:id="_gnIkcAlGEemuyee1ySwmkw" type="Region" element="_gnDr8wlGEemuyee1ySwmkw">
              <children xsi:type="notation:DecorationNode" xmi:id="_gnIkcwlGEemuyee1ySwmkw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_gnIkdAlGEemuyee1ySwmkw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_gnJLgAlGEemuyee1ySwmkw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_gnJLgQlGEemuyee1ySwmkw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_oEefwAlGEemuyee1ySwmkw" type="State" element="_oEcDgAlGEemuyee1ySwmkw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_oEfG0AlGEemuyee1ySwmkw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_oEfG0QlGEemuyee1ySwmkw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_oEfG0glGEemuyee1ySwmkw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oEfG0wlGEemuyee1ySwmkw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_oEfG1AlGEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oEfG1QlGEemuyee1ySwmkw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oEfG1glGEemuyee1ySwmkw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_oEefwQlGEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_oEefwglGEemuyee1ySwmkw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oEfG1wlGEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oEefwwlGEemuyee1ySwmkw" x="14"/>
                </children>
                <children xmi:id="_obQBAAlGEemuyee1ySwmkw" type="State" element="_obOy4AlGEemuyee1ySwmkw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_obQBBAlGEemuyee1ySwmkw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_obQBBQlGEemuyee1ySwmkw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_obQBBglGEemuyee1ySwmkw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_obQBBwlGEemuyee1ySwmkw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_obQBCAlGEemuyee1ySwmkw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_obQBCQlGEemuyee1ySwmkw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_obQoEAlGEemuyee1ySwmkw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_obQBAQlGEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_obQBAglGEemuyee1ySwmkw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_obQoEQlGEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_obQBAwlGEemuyee1ySwmkw" x="250" y="5"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gnJLgglGEemuyee1ySwmkw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_gnIkcQlGEemuyee1ySwmkw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gnIkcglGEemuyee1ySwmkw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_gnETAQlGEemuyee1ySwmkw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_gnETAglGEemuyee1ySwmkw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gnE6FAlGEemuyee1ySwmkw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gnETAwlGEemuyee1ySwmkw" x="84" y="437" width="438" height="162"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL49pAlFEemuyee1ySwmkw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_cL4WmwlFEemuyee1ySwmkw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL49pQlFEemuyee1ySwmkw" x="220" y="10" width="611" height="638"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_cL8oAAlFEemuyee1ySwmkw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_cL9PEAlFEemuyee1ySwmkw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cL9PEQlFEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cL9PEglFEemuyee1ySwmkw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_cL9PEwlFEemuyee1ySwmkw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL9PFAlFEemuyee1ySwmkw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cL9PFQlFEemuyee1ySwmkw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cL4WlwlFEemuyee1ySwmkw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_cL4WmAlFEemuyee1ySwmkw"/>
    <edges xmi:id="_is9ogAlGEemuyee1ySwmkw" type="Transition" element="_is9BcAlGEemuyee1ySwmkw" source="_cL5ksAlFEemuyee1ySwmkw" target="_d3Qd0AlGEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_is-PkQlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_is-PkglGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_is-PkwlGEemuyee1ySwmkw"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_is9ogQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_is-PkAlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_is9ogglGEemuyee1ySwmkw" points="[0, 7, -52, -102]$[0, 67, -52, -42]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_itAEwAlGEemuyee1ySwmkw" id="(0.16125568911191504,0.21951219512195122)"/>
    </edges>
    <edges xmi:id="_kdHXgAlGEemuyee1ySwmkw" type="Transition" element="_kdGJYAlGEemuyee1ySwmkw" source="_AB5iTQlHEemuyee1ySwmkw" target="_AB5iNQlHEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_kdHXhAlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kdHXhQlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kdHXhglGEemuyee1ySwmkw" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kdHXgQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kdHXgwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kdHXgglGEemuyee1ySwmkw" points="[0, 7, -6, -48]$[0, 46, -6, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kdKa0AlGEemuyee1ySwmkw" id="(0.30666666666666664,0.1886792452830189)"/>
    </edges>
    <edges xmi:id="_0Mk6AAlGEemuyee1ySwmkw" type="Transition" element="_0MfacAlGEemuyee1ySwmkw" source="_oEefwAlGEemuyee1ySwmkw" target="_obQBAAlGEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_0Mk6BAlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0Mk6BQlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0Mk6BglGEemuyee1ySwmkw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0Mk6AQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0Mk6AwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0Mk6AglGEemuyee1ySwmkw" points="[15, 4, -131, 2]$[147, -14, 1, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0MmvMAlGEemuyee1ySwmkw" id="(0.8828125,0.39622641509433965)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0MmvMQlGEemuyee1ySwmkw" id="(0.13013698630136986,0.33962264150943394)"/>
    </edges>
    <edges xmi:id="_0fnKwAlGEemuyee1ySwmkw" type="Transition" element="_0flVkAlGEemuyee1ySwmkw" source="_obQBAAlGEemuyee1ySwmkw" target="_oEefwAlGEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_0fnx0AlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0fnx0QlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0fnx0glGEemuyee1ySwmkw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0fnKwQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0fnKwwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0fnKwglGEemuyee1ySwmkw" points="[-8, 4, 123, 4]$[-126, 14, 5, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0fo_8AlGEemuyee1ySwmkw" id="(0.06164383561643835,0.6226415094339622)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0fo_8QlGEemuyee1ySwmkw" id="(0.921875,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_086KwAlGEemuyee1ySwmkw" type="Transition" element="_0848oAlGEemuyee1ySwmkw" source="_AB5iNQlHEemuyee1ySwmkw" target="_AB5iQQlHEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_086KxAlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_086KxQlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_086KxglGEemuyee1ySwmkw" x="9" y="3"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_086KwQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_086KwwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_086KwglGEemuyee1ySwmkw" points="[127, -6, -196, 11]$[270, -6, -53, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2fh0EAlGEemuyee1ySwmkw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_087Y4AlGEemuyee1ySwmkw" id="(0.7928748964374482,0.24074516360162407)"/>
    </edges>
    <edges xmi:id="_1VXuEAlGEemuyee1ySwmkw" type="Transition" element="_1VWf8AlGEemuyee1ySwmkw" source="_AB5iQQlHEemuyee1ySwmkw" target="_AB5iNQlHEemuyee1ySwmkw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1VXuFAlGEemuyee1ySwmkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1VXuFQlGEemuyee1ySwmkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1VXuFglGEemuyee1ySwmkw"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1VXuEQlGEemuyee1ySwmkw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1VXuEwlGEemuyee1ySwmkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1VXuEglGEemuyee1ySwmkw" points="[-33, 25, 225, -12]$[-176, 25, 82, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-l5eQAlGEemuyee1ySwmkw" id="(0.4852941176470588,0.3037974683544304)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1VY8MAlGEemuyee1ySwmkw" id="(0.676056338028169,0.8490566037735849)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
